@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fdfbf8;
  color: #07484a;
  font-family: 'Playfair Display', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.swiper-wrapper {
  margin-bottom: 38px !important;
}

.swiper-scrollbar-drag {
  margin-top: -5px;
  border-radius: 0;
  height: 25px;
  background-color: #70908b;
}
.special > .swiper-scrollbar {
  margin-left: -5px;
  border-radius: 0;
  width: 25px;
  background-color: #70908b;
}

.special > .swiper-scrollbar {
  background-color: #07484a;
}

.special .swiper-scrollbar-vertical {
  width: 5px;
  border: 0;
  top: -126px;
  margin-right: 19px;
}

@media (min-width: 1920px) {
  .special .swiper-container {
    height: 480px;
  }
}
